<footer class="page-footer blooshop_fond_gris pt-4">

    <!-- Footer Links -->
    <div class="container mb-3">
    <div class="text-center text-md-left text-dark">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-md-0 mt-3 mb-3 pb-3">
  
          <!-- Content -->	
          
          <h5 class="text-uppercase letterSpacing7">SERVICE CLIENT</h5>
          <hr class="accent-2 d-inline-block mt-0 trait">
          <p>			
              <b>Horaires</b> :<br />
              du Lundi au Vendredi<br />
              de 9h à 13h et de 14h à 17h
  
          </p>
          <p class="footer_blanc">		
            <i class="fas fa-home mr-3"></i> New York, NY 10012, US<br>
            <i class="fas fa-phone mr-3"></i><a href="tel:01 75 94 03 81" ><span style="color: white;">+ 01 234 567 88</span></a>
          </p>
  
        </div>
        <!-- Grid column -->
  
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-md-0 mt-3 mb-3 pb-3">
  
          <!-- Links -->
                  <h5 class="text-uppercase letterSpacing7">DEVENEZ MEMBRE</h5>
          <hr class="accent-2 d-inline-block mt-0 trait">
          
  <!-- Default inline form -->
  <form name="formNewsletter" id="formNewsletter" method="post" class="form-inline" action="https://www.blooshop.fr/compte_client.php?ajouter_modifier=ajouter">
      <!-- Material outline input with prefix-->
      <div class="md-form md-outline file-field md-form">
        <i class="fa fa-envelope prefix"></i>
        <input type="text" id="client_email" class="form-control" value="" placeholder="Adresse E-mail">
        <small id="emailHelp2" class="form-text text-muted">Recevez en avant première toute l'actualité et les promos de Blooshop.</small>
      </div>
      <div class="md-form md-outline">
        <button type="submit" class="btn btn-dark btn-md mt-0 btn-rounded" >S'abonner maintenant</button>
      </div>
  </form>
  <!-- Default inline form -->
  
                 
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-md-0 mt-3 mb-3 pb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">R E S E A U X &nbsp; S O C I A U X</h5>
          <hr class="accent-2 d-inline-block mt-0 trait">
          <p>
              <a href="https://twitter.com/blooshop" target="_blank"><img class="footer_reseaux_sociaux" src="../assets/images/graphisme/footer_twiter.png" title="Suivez bazArt sur Twitter" alt="Suivez bazArt sur Twitter" /></a>
              <a href="https://fr-fr.facebook.com/blooshop.fr" target="_blank"><img class="footer_reseaux_sociaux" src="../assets/images/graphisme/footer_facebook.png" title="Aimez bazArt sur Facebook" alt="Aimez bazArt sur Facebook" /></a>
              <a href="https://instagram.com/blooshop.fr/" target="_blank"><img class="footer_reseaux_sociaux" src="../assets/images/graphisme/footer_instagram.png" title="Regardez bazArt sur Instagram" alt="Regardez bazArt sur Instagram" /></a>
          </p>
  
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    </div>
    <!-- Footer Links -->
  
    <!-- Argument commerciaux -->
      <div class="blooshop_fond_noir">
        <div class="footer-copyright text-center py-3 blooshop_fond_noir">
            <div class="container">
                <div class="row">
                  <div class="col-md-3 mb-md-0 mb-3">
                      <img class="footer_arguments" src="../assets/images/graphisme/footer_satisfait.png" title="SATISFAIT ou REMBOURSÉ" alt="SATISFAIT ou REMBOURSÉ" />
                  </div>     
                  <div class="col-md-3 mb-md-0 mb-3">
                      <img class="footer_arguments" src="../assets/images/graphisme/footer_livraison.png" title="LIVRAISON EXPRESS" alt="LIVRAISON EXPRESS" />
                  </div>     
                  <div class="col-md-3 mb-md-0 mb-3">
                      <img class="footer_arguments" src="../assets/images/graphisme/footer_retour.png" title="RETOUR OFFERT" alt="RETOUR OFFERT" />
                  </div>
                  <div class="col-md-3 mb-md-0 mb-3">
                      <img class="footer_arguments" src="../assets/images/graphisme/footer_paiement.png" title="PAIEMENT SÉCURISÉ" alt="PAIEMENT SÉCURISÉ" />
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Argument commerciaux -->
    
    <!-- Divers -->
    <div class="container">
    <div class=" text-center py-3 blooshop_fond_gris">
        <div class="row">
          <div class="col-md-4 mb-md-0 mb-4">
              <a class="lien_footer" href="index.html" title="Accueil">Accueil</a><br />
              <a class="lien_footer" href="index.html" title="Boutiques en ligne">Boutiques en ligne</a><br />
              <a class="lien_footer" href="contact.html" title="Nos magasins">Nos magasins</a><br />
              <a class="lien_footer" href="contact.html" title="Contact">Contact</a><br />
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
              <a class="lien_footer"
                  href="promotion.html"
                  title="Bonnes affaires">
                  Bonnes affaires</a><br />
              <a class="lien_footer" href="nouveaute.html" title="Nouveauté">Nouveautés</a><br />
              <a class="lien_footer" href="wishlist.html" title="Nouveauté">Wishlist</a><br />
              <a class="lien_footer" href="frais_de_ports_retour.html" title="Frais de ports et retour">Frais de ports &amp; retour</a><br />
          </div>
          <div class="col-md-4 mb-md-0 mb-4">
              <a class="lien_footer" href="video_look_book.html" title="Vidéos &amp; Look Book">Vidéos &amp; Look Book</a><br />
              <a class="lien_footer" href="conditions_generales_de_vente.html" title="Conditions générales de vente">CGV</a><br />
              <a class="lien_footer" href="mentions_legales.html" title="Mentions légales">Mentions légales</a><br />
              <a class="lien_footer" href="plan_site.html" title="Plan du site">Plan du site</a>
          </div>
        </div>
    </div>
    </div>

    <!-- Google Map -->
    <div class="col-md-12 col-sm-12  mb-4">
      <a href="https://goo.gl/maps/F6Qp4zRjJJMdsZ1u8" target="_blank">
        <div>
      <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4256.316647730719!2d10.63515934854665!3d35.82413680608718!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x130275e5343dc275%3A0x56f5d1d9d8302ea8!2sLes%20remparts%20de%20Sousse!5e0!3m2!1sfr!2stn!4v1585430940038!5m2!1sfr!2stn"
      width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
        ></iframe>
      </div>
    </a>
    </div>
    
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- End Copyright -->
    
    <!-- Divers -->
    
  
  </footer>